body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#section1 {
    background-image: url('https://www.publicdomainpictures.net/pictures/290000/velka/flower-background-1546771374vNd.jpg');
}
#section2 {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/370/587/desktop-wallpaper-flower-background-aesthetic-border-design-aesthetic-flowers-border.jpg");
}
.content-section p {
    margin: 0 auto;
    width: 80%;
    font size: 1.2em;
}
