body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8dd1fe;
    text-shadow: 2px 2px 4px #000000;
    font-size: large;
}
#section1 {
    background-image: url('https://www.publicdomainpictures.net/pictures/290000/velka/flower-background-1546771374vNd.jpg');
}
#section2 {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/370/587/desktop-wallpaper-flower-background-aesthetic-border-design-aesthetic-flowers-border.jpg");
}
.content-section p {
    margin: 0 auto;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    background-color: #8dd1fe;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #8dd1fe;
    text-decoration: none;
    font-weight: bold;
}
footer {
    background-color: #8dd1fe;
    color: white;
    text-align: center;
    padding: 10px 0;
}
header h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: #8dd1fe;
    text-shadow: 2px 2px 4px #000000;
}
#section1 p {
text-align: center;

}
